numpy
pandas
scikit-learn
matplotlib
seaborn
scipy
statsmodels
xgboost
lightgbm
catboost
jupyterlab
requests
python-dotenv
rasa
rasa-sdk
aiohttp
grpcio
tensorflow
keras
sqlalchemy
psycopg2-binary
redis
twilio
sentry-sdk
webexteamssdk
prettytable
pydantic
jmespath
humanfriendly
colorama
tqdm 