@font-face {
    font-family: Allison;
    src: url('./assets/Allison-Regular.ttf');
  }
.Allison{
    font-family: Allison;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.loading-container svg {
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
}