@font-face {
    font-family: Allison;
    src: url('./assets/Allison-Regular.ttf');
  }
@font-face {
    font-family: LibreBaskerville;
    src: url('./assets/LibreBaskerville-Regular.ttf');
}
@font-face {
    font-family: PTSerif;
    src: url('./assets/PTSerif-Regular.ttf');
}
.Allison{
    font-family: Allison;
}
.LibreBaskerville{
    font-family: LibreBaskerville;
}
.PTSerif{
    font-family: PTSerif;
}
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.loading-container svg {
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
}